appdirs==1.4.4
APScheduler==3.6.3
attrs==19.3.0
autopep8==1.5.3
backcall==0.2.0
beautifulsoup4==4.9.1
cachetools==4.1.1
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
clarifai==2.6.2
colorama==0.4.3
configparser==5.0.0
cryptography==2.9.2
cssselect==1.1.0
cssutils==1.0.2
cycler==0.10.0
decorator==4.4.2
distlib==0.3.0
EasyProcess==0.3
emoji==0.5.4
filelock==3.0.12
future==0.18.2
googleapis-common-protos==1.52.0
grpcio==1.30.0
idna==2.9
instapy==0.6.9
ipython==7.15.0
ipython-genutils==0.2.0
jedi==0.17.0
jsonschema==2.6.0
jupyter-core==4.6.3
kaggle==1.5.9
kiwisolver==1.2.0
lxml==4.6.1
matplotlib==3.2.1
MeaningCloud-python==1.2.2
nbformat==5.0.7
numpy==1.18.5
opencv-python==4.2.0.34
parso==0.7.0
pickleshare==0.7.5
pigar==0.10.0
Pillow==7.1.2
pipenv==2020.6.2
plyer==1.4.3
premailer==3.7.0
prompt-toolkit==3.0.5
protobuf==3.12.2
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
python-slugify==4.0.1
python-telegram-bot==12.8
pytz==2020.1
pywin32==228
PyYAML==5.3.1
regex==2020.6.8
requests==2.23.0
requests-file==1.5.1
selenium==3.141.0
selenium-requests==1.3
selenium-wire==2.1.1
six==1.15.0
slugify==0.0.1
SoundCard==0.4.0
soupsieve==2.0.1
tabulate==0.8.7
text-unidecode==1.3
tldextract==2.2.3
toml==0.10.1
tornado==6.0.4
tqdm==4.47.0
traitlets==4.3.3
tzlocal==2.1
urllib3==1.25.9
virtualenv==20.0.23
virtualenv-clone==0.5.4
wcwidth==0.2.4
webdriverdownloader==1.1.0.3
yagmail==0.14.245
